.bear-tile {
    border: 1px solid #d2955d;
    background-color: #fae8d2;
    border-radius: .25rem;
    display: block;
  }
  .bear-silhouette {
    height: 100px;
  }
  .bear-tile-body {
    background: linear-gradient(180deg, rgba(255,255,255,1) 80%, #fae8d2 100%);
  }